<footer>
            
    <nav>
        <ul>
            
            <li>
                <a href="#Configuración de cookies">Configuracion de cookies</a>
            </li>
            
            <li>
                <a href="#Política de privacidad">Politica de privacidad</a>
            </li>
            
            <li>
                <a href="#Condiciones de compra">Condiciones de compra</a>
            </li>
            
        </ul>
    </nav>


</footer>