<footer id="footer">
            
    <nav class="nav-footer" >
        <div class="logo-footer">
            <h1>AURA</h1>
        </div>
        <div>
            <p>Subsibite a nuestro newsletter y se el primero en enterarte de las novedades.</p>
            <p>Contenido exclusivo, trucos y tips.</p>

            <form class="form" id="subscriptionForm" action="http://localhost:8000" method="post">

                <div class="subscription">
                    
                    <input 
                      required type="text"
                      id="email"
                      name="email"
                      placeholder=" Email "
                    />
            
                </div>
                <div>
                    <button class="form-element" type="submit">SUBSCRIBITE</button>
                </div>
                
        </div>
        <div>
            <div>
                <h2>NAVEGA</h2>
                <ul>
            
                    <li>
                        <a href="#Configuración de cookies">Configuracion de cookies</a>
                    </li>
                    
                    <li>
                        <a href="#Política de privacidad">Politica de privacidad</a>
                    </li>
                    
                    <li>
                        <a href="#Condiciones de compra">Condiciones de compra</a>
                    </li>
                    
                </ul>


            </div>
            <div>
                <h2>REDES</h2>
                <ul>
            
                    <li>
                        <a href="#Configuración de cookies">Configuracion de cookies</a>
                    </li>
                    
                    <li>
                        <a href="#Política de privacidad">Politica de privacidad</a>
                    </li>
                    
                    <li>
                        <a href="#Condiciones de compra">Condiciones de compra</a>
                    </li>
                    
                </ul>
            </div>
            <div>
                <h2>OFICIAL</h2>
                <ul>
            
                    <li>
                        <a href="#Configuración de cookies">Configuracion de cookies</a>
                    </li>
                    
                    <li>
                        <a href="#Política de privacidad">Politica de privacidad</a>
                    </li>
                    
                    <li>
                        <a href="#Condiciones de compra">Condiciones de compra</a>
                    </li>
                    
                </ul>
            </div>
            <div>
                <h2>SOPORTE</h2>
                <ul>
            
                    <li>
                        <a href="#Configuración de cookies">Configuracion de cookies</a>
                    </li>
                    
                    <li>
                        <a href="#Política de privacidad">Politica de privacidad</a>
                    </li>
                    
                    <li>
                        <a href="#Condiciones de compra">Condiciones de compra</a>
                    </li>
                    
                </ul>
            </div>






        </div>


        
    </nav>


</footer>