<header>
    <nav>
        <ul>
            <li>
                <a href="#inicio">INICIO</a>
            </li>
            <li>
                <a href="#productos">PRODUCTOS</a>
            </li>
            <li>
                <a href="#contact">CONTACTANOS</a>
            </li>
        </ul>
    </nav>
    

</header>