<header>
    <nav>
        <div class="hamburger">
            <div class="bars1"> </div>
            <div class="bars2"> </div>
            <div class="bars3"> </div>
        </div>

        <ul class="nav-links">
            <li><a href="#">"PRODUCTOS"</a></li>
            <li><a href="#">"SALE"</a></li>
            <li><a href="#">"LOCALES"</a></li>
            <li><a href="#">"MI CUENTA"</a></li>

        </ul>
        <ul>
            <li>
                <a href="#inicio">INICIO</a>
            </li>
            <li>
                <a href="#productos">PRODUCTOS</a>
            </li>
            <li>
                <a href="#contact">CONTACTANOS</a>
            </li>
        </ul>
    </nav>
    <script src="../../src/routes/navBar.js"></script>

</header>