@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --primary: black;
    --secundary: white;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
    position: sticky;
    top: 0%;
    z-index: 100;
}
header nav ul {
    display: flex;
    list-style: none;
}
header nav ul li {
    padding: 4px 8px;
    transition: background-color .5s;
    cursor: pointer;
}
header nav ul li a {
    text-decoration: none;
    font-family:'Raleway', sans-serif;
    font-weight: bold;
    color: rgba(12, 10, 10, 0.938);
}
body {
    font-family:'Raleway', sans-serif ;
    width: calc(100vw - (100vw - 100%));
  }
.section {
    padding: 16px 40px;
    margin: 10px;
}
.section h2{
    font-size: 22px;
    padding: 1%;
    padding-bottom: 1%;
   
}

.section p{
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
       
}
.section img{
    width: 70%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#productos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 50vh;
    position: relative;
    font-family:'Raleway', sans-serif;
    margin: 30px;

}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    min-height: 30vh;
    position: relative;
    font-family: 'Inter', sans-serif;
}
footer {
    background-color: white;
    padding: 10px;
    top: 0%;
    z-index: 100;
}
footer nav ul {
    display: flex;
    list-style: none;
}
footer nav ul li {
    padding: 4px 8px;
    transition: background-color .5s;
    cursor: pointer;
}
footer nav ul li a {
    text-decoration: none;
    font-family:'Raleway', sans-serif;
    font-weight: bold;
    color: rgba(12, 10, 10, 0.938);
}