@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: border-box;
}
:root{
    --primary: black;
    --secundary: white;
}

body {
    font-family:'Raleway', sans-serif ;
    width: calc(100vw - (100vw - 100%));
    
    
}
main{
    padding-top: 110px;
    padding-left: 20px;
    padding-right: 20px;
}

.caja-imagen{
    width: 100%;
    

}
.caja-imagen img{
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.caja-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(245, 244, 243);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

.caja-info h1{
    font-family: 'Rajdhani', sans-serif;
    font-size: 70px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    z-index: 0;

}

.caja-info p{
    font-size: 20px;
    padding: 20px;
}

.caja-info h2{
    font-size: 25px;
    padding: 20px;
}

.caja-info a{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
    color: rgb(51, 50, 50);
    height: 80px;
    width: 200px;
    background-color: white;
    border-radius: 30px;
    text-decoration: none;
    border: double;

}
.boton-comprar{
    display: flex;
    justify-content: center;
    padding: 20px;
}

@media (min-width:1200px){
    
    .caja-grande{
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
    }
    .caja-imagen{
        width: 50%;
        
    }
    .caja-info{
        width: 50%;
        
    }
    .caja-imagen img{
        border-bottom-left-radius: 30px;
        border-top-right-radius: 0px;
    }
    
    .caja-info {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 30px;
    }
    .caja-info h1{
        font-size: 60px;
        padding: 30px;
    
    }

    .caja-info p{
        font-size: 16px;
        padding: 20px;
    }
    
    .caja-info h2{
        font-size: 20px;
        padding: 20px;
    }
    
    .caja-info a{
        font-size: 20px;
        height: 60px;
        width: 160px;
    }
    
}