@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: border-box;
}
:root{
    --primary: black;
    --secundary: white;
}

body {
    font-family:'Raleway', sans-serif ;
    width: calc(100vw - (100vw - 100%));
    
    
}
main{
    padding-top: 100px;
}