@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Raleway&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: border-box;
}
:root{
    --primary: black;
    --secundary: white;
}
.nav-footer{
    font-family:'Raleway', sans-serif ;
    padding: 1em;
    height: auto;
    bottom: 0;
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
   
}

.logo-footer{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 0%;
    top: 0%;
    

}
.logo-footer h1{
    font-size: 200px;
}
.texto-footer {
    padding: 40px;
    
}
.texto-footer p{
    color: rgb(51, 50, 50);
    font-size: 23px;
    margin: 8px;
    
}
.subscription{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    
    
}
.subscription input{
    height: 100px;
    width: 50%;
    font-size: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.subscription button{
    width: 50%;
    font-size: 30px;
    background-color:  rgb(82, 81, 81);
    color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.links-footer{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;

}
.box-links{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    height: 200px;
    width: 100%;
    padding: 20px;

}
.box-links h2{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}
.box-links ul li{
    list-style: none;
    margin: 10px;

}

.box-links ul li a{
    color: rgb(51, 50, 50);
    list-style: none;
    font-size: 23px;
    text-decoration: none;
}

@media (min-width:1200px){
    
    .contenedorFooter{
        display: flex;
        flex-direction: row;
    }
    .texto-footer p{
        font-size: 16px;
        
    }
    .box-links h2{
        font-size: 18px;
    }
    .box-links ul li a{
        font-size: 16px;
    }
    .subscription input{
        height: 50px;
        font-size: 18px;
        
    }
    .subscription button{
        font-size: 18px;
    }
    

    
}