@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Raleway&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: border-box;
}
:root{
    --primary: black;
    --secundary: white;
}
.nav-footer{
    font-family:'Raleway', sans-serif ;
    padding: 1em;
    height: 1000px;
    bottom: 0;
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    
   
}

.logo-footer{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 0%;
    top: 0%;
    

}
.logo-footer h1{
    font-size: 200px;
}

