
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: border-box;
}
:root{
    --primary: black;
    --secundary: white;
}

body {
    font-family:'Raleway', sans-serif ;
    width: calc(100vw - (100vw - 100%));
    
    
}
main{
    padding-top: 100px;
}

.section h1 {
    color: rgba(0, 0, 0, 0.966);
    font-size: 30px;
}
.section h2{
    font-size: 24px;
    padding: 10px;
    padding-bottom: 10px;
}
.section h3{
    margin-top: 10px;
    padding-top: 12px;
    padding-bottom: 5px;
    
}
.section p{
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
   
}

.caja{
    position: relative;
    margin-top: 2%;
}
.texto1{
    position: absolute;
    top: 1100px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(51, 50, 50);
    font-family: 'Golos Text', sans-serif;
    
    
}
.texto2{
    position: absolute;
    top: 1170px;
    left: 50%;
    transform: translate(-50%, -50%);
    

}

#inicio picture{
    
    
    display: flex;
    flex-direction: column;
    
}

#inicio picture img{
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.95;
    


}


#inicio {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 50vh;
    position: relative;
    font-family:'Raleway', sans-serif;
    
}


.contenedorInicio{
    position: relative;
    display: inline-block;
    text-align: center;
}
.textoInicio{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 300px;
    text-align: center;
}
.textoInicio h3{
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-size: 70px;
    color: rgb(51, 50, 50);
    font-family: 'Rajdhani', sans-serif;
}
.textoInicio2 a{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    color: rgb(51, 50, 50);
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
}


#productos {
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 50vh;
    position: relative;
    font-family:'Raleway', sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;

}


#productos img{
    width: 100%;
    padding: 20px;
    border-radius: 50px;
}
#productos h3{
    text-align: center;
    font-size: 46px;
}
#productos ul li{
    text-align: center;
    font-size: 25px;
    list-style: none;
}

#productos ul li a{
    text-align: center;
    text-decoration: underline;
    color: rgb(51, 50, 50);
    font-family: 'Golos Text', sans-serif;
}


#contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    min-height: 30vh;
    position: relative;
    font-family: 'Inter', sans-serif;
}


@media (min-width:1200px){
    #productos {
        display: flex;

    }
    #inicio picture{
       
        padding: 0%;
        margin: 0%;
        display: flex;
        flex-direction: column;
        

    }
    #inicio picture img{
        border-radius: 30px;
        margin-left: 30px;
        margin-right: 30px;
        opacity: 0.95;
    
    
    }
    
    .textoInicio{
        
        top: 64%;
        left: 10%;
        width: 100px;
       
    }
    .textoInicio h3{
        
        font-size: 50px;
        
    }
    .textoInicio2 a{
        
        top: 90%;
        left: 11.5%;
        font-size: 30px;
    }
    
    .cajaGrande1{
        display: flex;
        flex-direction: row;
        height: 100%;
        margin: none;
        width: 100%;
        padding: 30px;
    }
    .texto1{
        position: absolute;
        top: 710px;

    }
    #productos h3{
        font-size: 35px;
    }
    .texto2{
        top: 760px;
    }

    #productos ul li{
        font-size: 18px;
    }
    .caja{
        width: 100%;
        
    }

    #productos img{
        width: 100%;
        padding: 0%;
        border-radius: 30px;
    }
    #productos .img1{
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
    }
    #productos .img2{
        border-bottom-left-radius: 0%;
        border-top-left-radius: 0%;
    }

    #productos ul{
        width: 100%;

    }
}
