
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  background-clip: border-box;
}
:root{
    --primary: black;
    --secundary: white;
}

body {
    font-family:'Raleway', sans-serif ;
    width: calc(100vw - (100vw - 100%));
  }


.section h1 {
    color: rgba(0, 0, 0, 0.966);
    font-size: 30px;
}
.section h2{
    font-size: 24px;
    padding: 10px;
    padding-bottom: 10px;
}
.section h3{
    font-size: 16px;
    margin-top: 10px;
    padding-top: 12px;
    padding-bottom: 5px;
}
.section p{
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
   
}

#inicio img{
    width: 95%;
    padding: 0%;
    margin: 0%;
}

#inicio {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 50vh;
    position: relative;
}

#productos {
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 50vh;
    position: relative;
    font-family:'Raleway', sans-serif;
    

}
#productos img{
    width: 100%;
}
#productos h3{
    text-align: center;
    font-size: 35px;
}
#productos ul li{
    text-align: center;
    font-size: 25px;
}

#productos ul li a{
    text-decoration: none;
    text-align: center;
}


#contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    min-height: 30vh;
    position: relative;
    font-family: 'Inter', sans-serif;
}


@media (min-width:1200px){
    #productos {
        display: flex;

    }
    
}