<footer id="footer">
            
    <nav class="nav-footer" >
        <div class="logo-footer">
            <h1>AURA</h1>
        </div>
        <hr>
        <div class="contenedorFooter">
            <div class="texto-footer">
                <p>Subsibite a nuestro newsletter y se el primero en enterarte de las novedades.</p>
                <p>Contenido exclusivo, trucos y tips.</p>
    
                <form class="form" id="subscriptionForm" action="http://localhost:8000" method="post">
    
                    <div class="subscription">
                        
                        <input 
                          required type="text"
                          id="email"
                          name="email"
                          placeholder=" Email "
                        />
                
                    
                        <button class="form-element" type="submit">SUBSCRIBE</button>
                    </div>
                    
            </div>
            <hr>
            <div class="links-footer">
                <div class="box-links">
                    <h2>NAVEGA</h2>
                    <ul>
                
                        <li>
                            <a href="#Shop">Shop</a>
                        </li>
                        
                        <li>
                            <a href="Nosotros">Nosotros</a>
                        </li>
                        
                        <li>
                            <a href="Impacto">Impacto</a>
                        </li>
                        
                    </ul>
    
    
                </div>
                <div class="box-links">
                    <h2>REDES</h2>
                    <ul>
                
                        <li>
                            <a href="https://www.instagram.com/sofigarciagiacosa/">Instagram</a>
                        </li>
                        
                        <li>
                            <a href="#Youtube">Youtube</a>
                        </li>
                        
                        <li>
                            <a href="#TikTok">TikTok</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="box-links">
                    <h2> OFICIAL</h2>
                    <ul>
                
                        <li>
                            <a href="#Privacidad">Privacidad</a>
                        </li>
                        
                        <li>
                            <a href="#Contacto">Contacto</a>
                        </li>
                        
                        <li>
                            <a href="#Términos">Términos</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="box-links">
                    <h2>SOPORTE</h2>
                    <ul>
                
                        <li>
                            <a href="#aura@gmail.com">aura@gmail.com</a>
                        </li>
                        
                    </ul>
                </div>
    
            </div>

        </div>
        
        <hr>



        
    </nav>


</footer>