<!DOCTYPE html>
<html lang="en">

    <head>
        
        <link href="../css/cart.css" rel="stylesheet" />
        <title>AURA online shop</title>   
        <link rel="stylesheet" href="../css/headerNuevo.css"/>
        <link rel="stylesheet" href="../css/footer.css"/>
        <script src="https://kit.fontawesome.com/3abebdfbc7.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <section class="tu-carrito">
                <h2>TU CARRITO</h2>
            </section>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function() {
                    // Obtenemos los productos del carrito
                    $.ajax({
                        url: '/carrito',
                        method: 'GET',
                        success: function(data) {
                            // Actualizamos la tabla con los productos del carrito
                            var productos = JSON.parse(data);
                            var total = 0;
                            for (var i = 0; i < productos.length; i++) {
                                var producto = productos[i];
						        total += producto.price * producto.quantity;
                                $('#carrito').append(
                                    '<tr>' +
							        '<td>' + producto.name + '</td>' +
							        '<td>' + producto.quantity + '</td>' +
							        '<td>$' + producto.price.toFixed(2) + '</td>' +
							        '<td>$' + (producto.price * producto.quantity).toFixed(2) + '</td>' +
							        '<td><button class="eliminar" data-id="' + producto.id + '">Eliminar</button></td>' +
							        '</tr>'
                                );
                            }
					        $('#total').text('$' + total.toFixed(2));
				        }
                    });
                });
            </script>
            <h1>Carrito de compras</h1>
            <table id="carrito">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se insertarán los productos del carrito con JavaScript -->
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total:</td>
                        <td id="total">$0.00</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <button>Comprar</button>





            <section class="section" id="pay">
                <div class="linea"></div>
                <a href="boton" class="button">PAGAR</a>
                <a href="boton" class="button">TOTAL</a>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>

</html>