<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../css/cart.css" rel="stylesheet" />
        <title>AURA online shop</title>   
        <link rel="stylesheet" href="../css/header.css"/>
        <link rel="stylesheet" href="../css/footer.css"/>
    </head>

    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <section class="section first-section">
                <h2>CARRITO</h2>
            </section>
            <section class="section" id="productos">
                
                <article class="product">
                    <img src="../../../assets/f83259bd913b67879bdc165bb09cc176.jpg">
                    <aside class="right">
                        <h3 class="product-description" > PRODUCTO</h3>
                        <p class="product-description" > CANTIDAD </p>
                        <p class="product-description" > PRECIO $$$</p>
                    </aside>
                    
                </article>

                <article class="product">
                    <img src="../../../assets/ddbf02c3860b9e77fb7ad17ea476f6a1.jpg">
                    
                    <aside>
                        <h3 class="product-description" > PRODUCTO</h3>
                        <p class="product-description" > CANTIDAD </p>
                        <p class="product-description" > PRECIO $$$</p>
                    </aside>
                    
                </article>

                <article class="product">
                    <img src="../../../assets/d04f9e1cf3dc7d8a4522828dbfe2893c.jpg">
                    <aside>
                        <h3 class="product-description" > PRODUCTO</h3>
                        <p class="product-description" > CANTIDAD </p>
                        <p class="product-description" > PRECIO $$$</p>
                    
                    </aside>
                </article>
            </section>

            <section class="section" id="pay">
                <div class="linea"></div>
                <a href="boton" class="button">PAGAR</a>
                <a href="boton" class="button">TOTAL</a>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>

</html>