<!DOCTYPE html>
<html>
    <head>
        <title>AURA online shop</title>
        <link rel="stylesheet" href="../css/detailProduct.css" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="#inicio">INICIO</a>
                    </li>
                    <li>
                        <a href="#productos">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="#contact">CONTACTANOS</a>
                    </li>
                </ul>
            </nav>

        </header>
        <main>
            <section class="section" id="Productos">
                <h2>PRODUCTO</h2>
                <img src="https://i.pinimg.com/564x/dd/bf/02/ddbf02c3860b9e77fb7ad17ea476f6a1.jpg" alt="imagen_producto">
                <p>PRECIO $ARS </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam culpa, aliquam.</p>
            </section>

        </main>
        <footer>
            
            <nav>
                <ul>
                    
                    <li>
                        <a href="#Configuración de cookies">Configuracion de cookies</a>
                    </li>
                    
                    <li>
                        <a href="#Política de privacidad">Politica de privacidad</a>
                    </li>
                    
                    <li>
                        <a href="#Condiciones de compra">Condiciones de compra</a>
                    </li>
                    
                </ul>
            </nav>
    
    
        </footer>
        
    
    
    </body>
</html>