<!DOCTYPE html>
<html>
    <head>
        <title>AURA online shop</title>
        <link rel="stylesheet" href="../css/footer.css" />
        <link rel="stylesheet" href="../css/headerNuevo.css" />
        <link rel="stylesheet" href="../css/detailProduct.css" />
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <div class="caja-grande">
                <div class="caja-imagen">
                    <img id="image">
                </div>
                <div class="caja-info">
                    <h1 id="name"></h1>
                    <p id="description"></p>
                    <h2 id="price"></h2>
                    <div class="boton-comprar">
                        <a id="comprar" href="#">COMPRAR</a>
                    </div>
                    
                </div>
            </div>
            
            
            

        </main>


        <script>
            const path = window.location.pathname;
            const id = path.substring(path.lastIndexOf('/') + 1);
            console.log(id);
            
            const productsCocina= [
                {
                    id: "producto1",
                    name: "Producto 1",
                    description: "This is the first product. lorem ipsum dolor sit amet eget porta semper at eget. ",
                    price: "$12500",
                    image: 
                        "../assets/d04f9e1cf3dc7d8a4522828dbfe2893c.jpg" ,
                },
                {
                    id: "producto2",
                    name: "Producto 2",
                    description: "This is the second product",
                    price: "$12500",
                    image:
                        "../assets/ddbf02c3860b9e77fb7ad17ea476f6a1.jpg",
                },
                {
                    id: "producto3",
                    name: "Producto 3",
                    description: "This is the third product",
                    price: "$12500",
                    image:
                        "../assets/f83259bd913b67879bdc165bb09cc176.jpg",
                },
                {
                    id: "producto4",
                    name: "Producto 4",
                    description: "This is the fourth product",
                    price: "$12500",
                    image:
                        "../assets/ddbf02c3860b9e77fb7ad17ea476f6a1.jpg",
                },
            ]
            

            const producto = productsCocina.find(p => p.id === id);
            console.log(productsCocina);
            console.log(producto);

            document.getElementById("name").textContent = producto.name;
            document.getElementById("image").src = producto.image;
            document.getElementById("description").textContent = producto.description;
            document.getElementById("price").textContent = `Precio: ${producto.price}`;
            document.getElementById("comprar").href = `comprar.html?id=${producto.id}`;
            




            
            
        </script>



        <%- include("../partials/footer.ejs") %>
        
    
    
    </body>
</html>


