<!DOCTYPE html>
<html>
    <head>
        <title>AURA online shop</title>
        <link rel="stylesheet" href="../css/home.css" />
        <link rel="stylesheet" href="../css/header.css" />
        <link rel="stylesheet" href="../css/footer.css" />
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <section class="section" id="inicio">
                <img srcset="../assets/NEWCOLLECTION.1000px.jpg 1000w, NEWCOLLECTION.400px.jpg 400w" >
                
            </section>
            <section class="section" id="productos">
                
                <ul>
                    <div class="cajaGrande1">
                        <div class="caja">
                            <img src="../assets/4f29241c1ce3ceb24b5690a75af6cdf6nueva2.jpg" />
                            <div class="texto1"><h3>Living</h3></div>
                            <div class="texto2"><li ><a href="#">Comprar</a></li></div>
                        </div>
                        <div class="caja">
                            <img src="../assets/c935b33ee7bc678a47578b599763e46f.jpg" />
                            <div class="texto1"><h3>Cocina</h3></div>
                            <div class="texto2"><li><a href="#">Comprar</a></li></div>
                        </div>


                    </div>
                    <div class="cajaGrande1">
                        <div class="caja">
                            <img src="../assets/b98af1946fb2a84ca72228a6d6711081.jpg" />
                            <div class="texto1"><h3>Dormitorio</h3></div>
                            <div class="texto2"><li><a href="#">Comprar</a></li></div>
                        </div>
                        
                        <div class="caja">
                            <img src="../assets/d2d1bd0b1db50f3b2da1f4218c6ab2ea.jpg" />
                            <div class="texto1"><h3>Baño</h3></div>
                            <div class="texto2"><li><a href="#">Comprar</a></li></div>
                        </div>

                    </div>
                    
                
                    
                    
                </ul>
            </section>
            <section class="section" id="contact">
                <h2>Contactanos</h2>
                <form action="" method="post">
                    <input type="text" placeholder="Nombre" />
                    <input type="text" placeholder="Apellido" />
                    <input type="email" placeholder="Email" required />
                    <textarea required>
                    </textarea>

                    <label for="terms">Acepto los terminos y condiciones</label>
                    <input type="checkbox" id="terms" required />
                    <button type="submit">Enviar</button>

                </form>
            </section>
           
        </main>
        
        <%- include("../partials/footer.ejs") %>
    </body>
</html>