<!DOCTYPE html>
<html>
    <head>
        <title>AURA online shop</title>
        <link rel="stylesheet" href="../css/home.css" />
        <link rel="stylesheet" href="../css/headerNuevo.css" />
        <link rel="stylesheet" href="../css/footer.css" />
        
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <section class="section" id="inicio">
        
                <div class="contenedorinicio">
                    
                    <picture>
                        <source media="(max-width: 999px)" srcset="../assets/il_1140xN.4217385620_luz2mobile.jpg">
                        <source media="(min-width: 1000px)" srcset="../assets/il_1140xN.4217385620_luz2desktop.jpg">
                        <img src="../assets/il_1140xN.4217385620_luz2desktop.jpg" alt="Chris standing up holding his daughter Elva">
                    </picture>
                    
                            
                    <div class="textoInicio"> <h3>new limited edition</h3></div>
                    <div class="textoInicio2"><a href="#">SHOP NOW</a> </div>
                    
                            
                </div>
                        
            </section>
            <section class="section" id="productos">
                
                <ul>
                    <div class="cajaGrande1">
                        <div class="caja">
                            <img class="img1" src="../assets/4f29241c1ce3ceb24b5690a75af6cdf6nueva2.jpg" />
                            <div class="texto1"><h3>Living</h3></div>
                            <div class="texto2"><li ><a href="http://localhost:8000/living">COMPRAR</a></li></div>
                        </div>
                        <div class="caja">
                            <img class="img2" src="../assets/c935b33ee7bc678a47578b599763e46f.jpg" />
                            <div class="texto1"><h3>Cocina</h3></div>
                            <div class="texto2"><li><a href="http://localhost:8000/cocina">COMPRAR</a></li></div>
                        </div>


                    </div>
                    <div class="cajaGrande1">
                        <div class="caja">
                            <img class="img1" src="../assets/b98af1946fb2a84ca72228a6d6711081.jpg" />
                            <div class="texto1"><h3>Dormitorio</h3></div>
                            <div class="texto2"><li><a href="http://localhost:8000/dormitorio">COMPRAR</a></li></div>
                        </div>
                        
                        <div class="caja">
                            <img class="img2" src="../assets/d2d1bd0b1db50f3b2da1f4218c6ab2ea.jpg" />
                            <div class="texto1"><h3>Baño</h3></div>
                            <div class="texto2"><li><a href="http://localhost:8000/bano">COMPRAR</a></li></div>
                        </div>

                    </div>
                    
                
                    
                    
                </ul>
            </section>
            
           
        </main>
        
        <%- include("../partials/footer.ejs") %>
    </body>
</html>