<!DOCTYPE html>
<html>
    <head>
        <title>AURA online shop</title>
        <link rel="stylesheet" href="../css/home.css" />
        <link rel="stylesheet" href="../css/header.css" />
        <link rel="stylesheet" href="../css/footer.css" />
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <section class="section" id="inicio">
                <img src="../assets/NEWCOLLECTION.png">
                
            </section>
            <section class="section" id="productos">
                <h2>Productos populares</h2>
                <ul>
                    
                    <img src="https://i.pinimg.com/564x/55/10/d2/5510d28456c619446e65f78843cacb69.jpg" />
                    <h3>Living</h3>
                    <li><a href="#">Comprar</a></li>
                    
                    
                    <img src="https://i.pinimg.com/564x/d0/4f/9e/d04f9e1cf3dc7d8a4522828dbfe2893c.jpg" />
                    <h3>Cocina</h3>
                    <li><a href="#">Comprar</a></li>
                    
                    
                    <img src="https://i.pinimg.com/564x/70/94/fb/7094fba7639aaf510bcc41fe8296e8b9.jpg" />
                    <h3>Dormitorio</h3>
                    <li><a href="#">Comprar</a></li>
                    
                    
                    <img src="https://i.pinimg.com/564x/70/ad/70/70ad709ecf8449299d4c4e27ad2fd947.jpg" />
                    <h3>Baño</h3>
                    <li><a href="#">Comprar</a></li>
                    
                    
                </ul>
            </section>
            <section class="section" id="contact">
                <h2>Contactanos</h2>
                <form action="" method="post">
                    <input type="text" placeholder="Nombre" />
                    <input type="text" placeholder="Apellido" />
                    <input type="email" placeholder="Email" required />
                    <textarea required>
                    </textarea>

                    <label for="terms">Acepto los terminos y condiciones</label>
                    <input type="checkbox" id="terms" required />
                    <button type="submit">Enviar</button>

                </form>
            </section>
           
        </main>
        
        <%- include("../partials/footer.ejs") %>
    </body>
</html>