<!DOCTYPE html>
<html>
    <head>
        <title>Registro -AURA</title>
        <link rel="stylesheet" href="../css/header.css"/>
        <link rel="stylesheet" href="../css/footer.css"/>

    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <section>

            </section>
            <section>

            </section>

        </main>
        <aside>

        </aside>
    
        <%- include("../partials/footer.ejs") %>
    </body>

</html>