<!DOCTYPE html>
<html>
    <head>
        <title>Registro -AURA</title>
        <link rel="stylesheet" href="../css/header.css"/>
        <link rel="stylesheet" href="../css/footer.css"/>

    </head>
    <body>
        
        <main>
            <form action="/signup" method="post">
                <div>
                    <label for="user">Nombre del usuario</label>
                </div>
                <div>
                    <input 
                      id="user"
                      name="user"
                      type="text"
                      placeholder="nombre de usuario"
                    />

                </div>
                <div>
                    <label for="password">Contraseña</label>
                </div>
                <div>
                    <input 
                      id="password"
                      name="password"
                      type="password"
                      placeholder="Contraseña"
                    />

                </div>
                <div>
                    <button type="submit">Crear</button>
                </div>
            </form>
        </main>
    
    
        <%- include("../partials/footer.ejs") %>
    </body>

</html>