<!DOCTYPE html>
<html>
    <head>
        <title>Registro -AURA</title>
        <link rel="stylesheet" href="../css/headerNuevo.css"/>
        <link rel="stylesheet" href="../css/footer.css"/>
        <link rel="stylesheet" href="../css/signup.css"/>

    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
           

            <form class="form" action="http://localhost:8000/signin" method="post">

                <div class="registro">
                    <h2> Inicio de sesión </h2>
                    
                </div>
                
                
                <div>
                    <input 
                      required type="text"
                      name="email"
                      placeholder=" Email"
                    />

                </div>


                <div>
                    <input 
                      required type="password"
                      name="password"
                      placeholder=" Contraseña"
                    />

                </div>
                <div>
                    <button class="form-element" type="submit">SIGN IN</button>
                </div>
                <div class="inicio-sesion">
                     <a href=""> ¿Olvidaste tu contraseña?</a>
                </div>
            </form>
        </main>
    
    
        <%- include("../partials/footer.ejs") %>
    </body>

</html>