<!DOCTYPE html>
<html>
    <head>
        <title>Registro -AURA</title>
        <link rel="stylesheet" href="../css/headerNuevo.css"/>
        <link rel="stylesheet" href="../css/footer.css"/>
        <link rel="stylesheet" href="../css/signup.css"/>

    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <div class="contenedor-form">
                <div class="imagen">

                </div>
    
                <form class="form" id="signupForm" action="http://localhost:8000/signup" method="post">
    
                    <div class="registro">
                        <h2> Crea tu cuenta </h2>
                        
                    </div>
                    
                    <div class="formulario-input">
                        <input 
                          required type="text"
                          id="name"
                          name="name"
                          placeholder=" Nombre"
                        />
                
                    </div>
                    
                    <div class="formulario-input">
                        <input 
                          required type="text"
                          id="lastname"
                          name="lastname"
                          placeholder=" Apellido"
                        />
                    
    
                    </div>
                    
                    <div class="formulario-input">
                        <input 
                          required type="text"
                          id="email"
                          name="email"
                          placeholder=" Email"
                        />
    
                    </div>
    
    
                    <div class="formulario-input">
                        <input 
                          required type="password"
                          name="password"
                          placeholder=" Contraseña"
                        />
    
                    </div>
                    <div class="formulario-boton">
                        <button class="form-element" type="submit">Crear</button>
                    </div>
                    <div class="inicio-sesion">
                        <p> ¿Ya tenés una cuenta? <a href="http://localhost:8000/signin">¡Inicia sesión!</a></p>
                    </div>
                </form>
            </div>
            
            <script src="../localStorage/signup.js"></script>
        </main>
    
    
        <%- include("../partials/footer.ejs") %>
    </body>

</html>